.sign-in{
    // width: 35vw;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: groove;
    padding: 40px;

    .sign-in-buttons{
        // display: flex;
        justify-content: space-around; 
    }
}