.sign-in-and-sign-out {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap ;
  // height: 200%;
  // width: 100%;


  // align-items: center;
//   .sign-in-and-sign-out-item{
//       margin: 40px;
//   }
}
