.header {
  
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  // background-image: linear-gradient(rgb(236, 236, 122), rgb(243, 245, 215), white);
  
  .logo {
    height: 100%;
    width: 70px;
    // padding-right: 40px;
  }
  .options {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;

    .option {
      padding: 10px;
      cursor: pointer;
    }
  }
}


