.card-element {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.bgstyle {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  /* display: block; */
  background-image: url("https://i.pinimg.com/564x/45/4e/2c/454e2c220ed5bc5268b022f944e5bcc5.jpg");
  width: 100%;
  height: 200%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  /* background-position: 10px 0px;*/
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20em;
  margin-right: 20em;
}



/* 
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: blue;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */