.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 18px;
  background-color: rgb(192, 195, 195);
  color: black;
  text-transform: uppercase;
  // font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(98, 67, 103);
    color: white;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color:#EA4335;
    //  #4258f4;
    color: white;
    &:hover {
      background-color: #357ae8;
      color: white;
      border: none;
    }
  }
}
.sign-in-buttons {
  display: flex;
  flex-direction: row;
}
